@font-face {
    font-family: 'fontspring_demo_-_skywing_mRg';
    src: font_url('fontspring-demo-skywing_medium_italic-webfont.woff2') format('woff2'),
         font_url('fontspring-demo-skywing_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}